<html lang="en">
	<head>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Bla bla bla voluntariat</title>
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #264F7A">
			<div class="container">
				<a class="navbar-brand" href="/">Voluntariat</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item active">
                                <a class="nav-link" href="#">
                                    Welcome, {{ user.username }}
                                </a>
						    </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/logout/">
                                    <i class="fas fa-sign-out-alt"></i> Log out
                                </a>
						    </li>

                        {% else %}
                            <li class="nav-item active">
                                <a class="nav-link" href="/login/">
                                    <i class="fas fa-sign-in-alt"></i> Log in
                                </a>
						    </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/signup/">
                                    <i class="fas fa-user-plus"></i> Sign up
                                </a>
						    </li>
                        {% endif %}
					</ul>
				</div>
			</div>
		</nav>
		<div class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(135deg, rgba(65,112,166,1) 0%,rgba(8,152,160,1) 100%);">
			<div class="container">
				<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="#">Active link</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="//codeply.com">Link 2</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link 3</a>
						</li>
					</ul>
				</div>
				<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
					<div class="navbar-nav ml-auto">
						<!-- Search form -->
						<!-- Search form -->
						<input class="form-control" type="text" placeholder="Search" aria-label="Search">
					</div>
				</div>
			</div>
		</div>
		<!-- Page Content -->
		<div class="container">
			{% block content %}
            {% endblock %}
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</body>
</html>