{% extends "voluntariat/base_generic.html" %}

{% block content %}
<header style="padding: 10px 16px; background: #555;color: #f1f1f1;  position: fixed;top: 0; width: 100%;">
<form method="get" action="{% url 'event' %}" style="float:left;padding-right: 60px">
    <input type="text" name="search" placeholder="event"/>
    <input type="submit" value="Search">
</form>
    <button >LOGOUT</button>

</header>
    <br>
    <br>
    <br>
<h1>Event List</h1>
  {% if my_event_list %}
  <ul class="list-group">
    {% for event in my_event_list %}
      <li>
        <div>
            <img src="{{ event.picture.url }}"/>
            <a href="{{ event.get_absolute_url }}">{{ event.name }}</a> ({{event.description}})
            {% if event.organizer == request.user %}
                <i>Eventul meu :D</i>
                <a  href="{% url 'event-delete' event.id %}">Sterge</a>
                <a href="{% url 'event-update' event.id %}">Editeaza</a>
            {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no events in the library.</p>
  {% endif %}
{% endblock %}