{% extends "voluntariat/base_generic.html" %}

{% block content %}
<h1>Event List</h1>
  {% if my_event_list %}
  <ul class="list-group">
    {% for event in my_event_list %}
      <li>
        <div>
            <a href="{{ event.get_absolute_url }}">
                <img src="{{ event.picture.url }}" style="max-width: 100px;" />
                {{ event.name }}
            </a>
            {% if event.organizer == request.user %}
                <a  href="{% url 'voluntariat:event-delete' event.id %}">Sterge</a>
                <a href="{% url 'voluntariat:event-update' event.id %}">Editeaza</a>
                {% if event.can_add_participants == True %}
                    <a href="{% url 'voluntariat:event-stop-attendings' event.id %}">Opreste inscrierile</a>
                {% endif %}
            {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no events in the library.</p>
  {% endif %}
{% endblock %}