{% extends "voluntariat/base_generic.html" %}

{% block content %}
    <h1>Title: {{ event.name }}</h1>
    <img src="{{ event.picture.url }}"/>

    <p><strong>Summary:</strong> {{ event.description }}</p>
    <p><strong>Benefits:</strong> {{ event.benefits }}</p>
    <p><strong>Start Date:</strong> {{ event.start_date }}</p>
    <p><strong>End date:</strong> {{ event.end_date }}</p>
    {% if event.organizer == request.user %}
        <a href="{% url 'voluntariat:event-delete' event.id %}">Sterge</a>
        <a href="{% url 'voluntariat:event-update' event.id %}">Editeaza</a>

    {% endif %}

    {% if request.can_attend == 1 %}
        <a href="{% url 'voluntariat:event-attend' event.id %}">Attend</a>
    {% endif %}
    {% if request.can_attend == 0 %}
        <a  href="{% url 'voluntariat:event-unattend' event.id %}">Unattend</a>
    {% endif %}
     {% if request.can_attend == 2 %}
       <p>Pentru a participa la acest eveniment va rugam sa va logati</p>
    {% endif %}

{% endblock %}