{% extends "voluntariat/base_generic.html" %}

{% block content %}
  {% if my_event_list %}
      <p><h1>Evenimentele mele</h1></p>
          <ul class="list-group list-group-flush">
          {% for event in my_event_list %}
              <li class="list-group-item">
                  {{ event.id }}. <a href="{{ event.get_absolute_url }}">{{ event.name }}</a>
              </li>
          {% endfor %}
          </ul>
  {% else %}
    <p>There are no events in the library.</p>
  {% endif %}
{% endblock %}