{% extends "voluntariat/base_generic.html" %}

{% block content %}
<!-- <header style="padding: 10px 16px; background: #555;color: #f1f1f1;  position: fixed;top: 0; width: 100%;">
    <form method="get" action="{% url 'voluntariat:myevents' %}" style="float:left;padding-right: 60px">
        <input type="text" name='query' placeholder="event"/>
        <input type="submit" value="Search">
    </form>
        <button >LOGOUT</button>
</header> -->
<h1 style="color:red">My Events</h1>
  {% if my_event_list %}
  <ul style="list-style-type:none" class="list-group">
    {% for event in my_event_list %}
      <li >
        <div>
            <a href="{{ event.get_absolute_url }}">{{ event.name }}
            <img src="{{ event.picture.url }}" style="max-width: 100px;"/>
                <a style="color:red" href="{% url 'voluntariat:event-delete' event.id %}">Sterge</a>
                <a href="{% url 'voluntariat:event-update' event.id %}">Editeaza</a>
            </a>
        </div>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no events in the library.</p>
  {% endif %}
{% endblock %}