{% extends "voluntariat/base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <form enctype="multipart/form-data" method="POST"> {% csrf_token %}

        <br>
        {{ form|crispy }}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-right">
                    <input type="submit" class="btn btn-success custom-button-width .navbar-right" value="Salveaza"/>
                </div>
            </div>
        </div>

    </form>

{% endblock %}