{% extends "voluntariat/base_generic.html" %}
{% block content %}
<style>
	.list-group-item { background: #F8F9FA; border-top: 0 none; }
	.list-group-item:nth-child(odd) { background: #fff; }
</style>
<p>
<h1>Gestionare voluntari înscrişi</h1>
</p>
{% if my_user_list %}
<ul class="list-group list-group-flush">
	{% for participari in my_user_list %}
	<li class="list-group-item">
		{{ participari.voluntar.id}}. {{participari.voluntar.first_name}} {{participari.voluntar.last_name}} (<a href="{% url 'voluntariat:userprofile' participari.voluntar.id %}">{{ participari.voluntar.username }}</a>) &nbsp;
		<a href="{% url 'voluntariat:event-block' participari.id %}" class="btn btn-light" role="button" style="color: #cc0000;"><i class="fas fa-minus-circle"></i> Blochează voluntar</a>
	</li>
	{% endfor %}
</ul>
{% else %}
<p>Nu exista voluntari.</p>
{% endif %}
{% endblock %}